= image_tag @goal.image.url(:medium), class: "goal_image"
%h1= @goal.name
%p= @goal.description
%p= @goal.start_date
%p= @goal.target_amount
= link_to "Back", root_path, class: "btn btn-default"
= link_to "Edit", edit_goal_path, class: "btn btn-default"
= link_to "Delete", goal_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default"
